body {
    font-family: "Roboto", sans-serif;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.one {
    color: #434455;
    background-color: #FFFFFF;
}
/* -------------HEDER -------------*/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}


.header-container{
    display: flex;
    align-items: center;
    gap: 76px;
}

.header-navigation{
    display: flex;
    align-items: center;
    margin-right:auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-left: 156px;
    margin-right: 76px;
}

.logo-grey {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}
    

.header-menu-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.address-menu-link:hover {
    color: #404bbf;
}

.address-menu-link:focus {
    color: #404bbf;
}

/* --------------------------------- */

.container-address{
    
 
    }

.address {
    font-style: normal;

   
}

.address-menu-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
    margin-right: 156px;
}

.address {}

.address-menu-list {}

.address-menu-item {}

.address-menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --------- section one-------------- */

.section-team {
    background: #FFFFFF;
}

.section-solutions {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
}

.solutions-head {
    max-width: 496px;
}

.container-solutions{
 

}

.solutions-head {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    
}

.button {
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5
    
}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}

.button {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;


}

/* --------- section two-------------- */

.section-feactures {
    padding: 120px 156px;
}
  

.feactures-head,
.feactures-team,
.portfolio-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.feactures-list {
    display: flex;
    gap: 24px;
}

.feactures-item {
    width: calc((100% - 3 * 24px) / 4);
}

.feactures-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.feactures-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --------- section 3-------------- */

.section-team {
    background-color: #F4F4FD
}

.feactures-team,
.portfolio-head {
    text-align: center;
    text-transform: capitalize;
}

.team-list {
    background-color: #FFFFFF
}

.team-item {
    background-color: #FFFFFF
}

.team-img {}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}



.section-portfolio {
    background-color: #FFFFFF;
    padding: 120px 156px;
}

.portfolio-head {
    margin-bottom: 50px;
    
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    text-align: 16px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-img {
    margin: 0 auto;
    margin-bottom: 32px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ------THE END------- */

.footer {
    background: #2E2F42;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-white {
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}